:root {
    /* Atoms */
    --atomic-atom-padding: 6px;
    --atomic-atom-margin: 8px;

    /* Molecules */
    --atomic-molecule-padding: 8px;
    --atomic-molecule-margin: 10px;

    /* Organisms */
    --atomic-organism-padding: 10px;
    --atomic-organism-margin: 14px;

    /* Page */
    --atomic-page-margin: 48px;
}
